# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          sudo mkdir -p /workdir
          sudo chown $USER:$GROUPS /workdir
      #克隆Lede源代码
      - name: Clone source code
        working-directory: /workdir
        run: |
          git clone --depth 1 https://github.com/tuanqing/mknop -b master mknop
          ln -sf /workdir/mknop $GITHUB_WORKSPACE/mknop
          echo 克隆完成
      #上传文件
      - name: Upload  file
        uses: actions/upload-artifact@main
        with:
          name: unload.file
          path: mknop/gen_openwrt
          
      #上传文件夹
      - name: Upload  file
        uses: actions/upload-artifact@main
        with:
          name: uploadDirectory
          path: mknop/.github
